<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ONE-STOP</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="/css/landing.css">


  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand" id="title">One-Stop</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li id="home"><a href="/">HOME</a></li> -->
            <li id="about"><a href="/about">ABOUT US</a></li>
            <li id="contact"><a href="/contact">CONTACT US</a></li>
            <li id="login"><a href="/login">LOGIN</a></li>
            <li id="signUp"><a href="/signup">SIGNUP</a></li>
            <!-- a href also makes a GET request-->

          </ul>
      </div>
    </nav>
    <div class="row">
        <div class="column1">
          <h1>THE FAST AND THE CURIOUS</h1>
          <p>The one stop for all.</p>
          <!--<button>PURCHASE</button> -->
        </div>
        <div class="column2">
          <img src="https://www.hmablogs.com/wp-content/uploads/2022/06/banner-img.png" alt="banner" width="500px">
        </div>
      </div>
    <div class="container">

